@font-face {
    font-family: "Yellowtail";
    src: url("resources/Yellowtail/Yellowtail-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Courgette";
    src: url("resources/Courgette/Courgette-Regular.ttf") format("truetype");
}

body{
    margin: 0;
    color: #000;
    background-color: #fff;
    font-family: "Courgette", Verdana, Geneva, Tahoma, sans-serif; ;
}

header{
    display:flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(to bottom, #FCC032, #DD0D1A);
    font-family: "Yellowtail", inherit;
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: fit-content;
}

.logolink {
    width: 50%;
    /* border-radius: 50%; */
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    flex: 1 1 auto;
    width: auto;
    height: 170%;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 3vw; */
    width: 50%;
    padding: 3vh 0;
}

a{
    text-decoration: none;
    color: inherit;
    transition: 1s;
}

a:hover {
    background-image: linear-gradient(to bottom, rgb(232, 181, 106) 0, #99999900);
    border-radius: 25%;
    /* opacity: 50; */
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 80vh;
    background-image: url("resources/Banner.png");
    background-position: center;
    background-size: cover;
}

h1 {
    background-color: #fff;
    padding: 1vh 2vw;
}

.sectcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectcontainer > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.popular {
    background-color: #F13D19;
}

.menu {
    background-color: #FD7E1F;
   
}

.location {
    background-color: #F13D19;
}

.sectcontainer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section > div {
    width: 90%;
    margin: 4vh 5vw 8vh;
}

section > p {
    width: 90%;
    font-size: 1.5rem;
}

.image {
    width: 30%;
    height: 60vh;
    margin: 0;
    align-content: center;
    position: relative;
}

.image > img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    margin: 0;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

.popImg , .dealImg {
    margin-bottom: 10vh;
}

.localImg {
    margin-bottom: 4vh;
}

.location > p {
    margin-bottom: 5vh 0;
}

figcaption {
    position: absolute;
    display: flex;
    bottom: 0;
    transform:translateY(50%);
    width: 100%;
    padding: 3vh 0;
    align-content: center;
    justify-content: center;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 100% 100% 0% 0%;
}

.popular figcaption {
    background-color: #F13D19;
}

.menu figcaption{
    background-color: #FD7E1F;
}

.location figcaption {
    background-color: #F13D19;
    text-align: center;
}



footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-image: linear-gradient(to bottom, #FCC032, #DD0D1A);
    bottom: 0;
}

footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: fit-content;
}

ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: small;
    list-style-type: none;
}

@media (max-width: 767px) {
    body{
        width: 100%;
    }
    .logo{
        height: 100%;
    }
    .image{
        height: 40vh;
    }
    .image > img {
        height: 100%;
    }
    figcaption {
        bottom: 0;
        transform: translateY(50%);
    }
    .location figcaption {
        font-size: .9rem;
    }
}

@media (max-width: 450px) {
    body{
        width: 100%;
    }

    .image{
        height: 20vh;
    }
    .image > img {
        height: 100%;
    }
    figcaption {
        bottom: 0;
        transform: translateY(50%);
        margin: 0;
        height: .1vh;
    }
}