@font-face {
    font-family: "Yellowtail";
    src: url("resources/Yellowtail/Yellowtail-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Courgette";
    src: url("resources/Courgette/Courgette-Regular.ttf") format("truetype");
}

body{
    margin: 0;
    color: #000;
    background-color: #fff;
    font-family: "Courgette", Verdana, Geneva, Tahoma, sans-serif; ;
}

header{
    display:flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(to bottom, #FCC032, #DD0D1A);
    font-family: "Yellowtail", sans-serif;
    box-shadow: 5px 5px 30px;
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: fit-content;
}

.logolink {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo {
    flex: 1 1 auto;
    width: auto;
    height: 170%;
    position: absolute;
    top: 0;
    filter: drop-shadow(5px 5px 30px);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 3vw; */
    width: 50%;
    padding: 3vh 0;
}

a{
    text-decoration: none;
    color: inherit;
    transition: 1s;
}

a:hover {
    /* border-radius: 25%; */
     text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    /* opacity: 50; */
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 80vh;
    background-image: url("resources/Banner.png");
    background-position: center;
    background-size: cover;
}

h1 {
    background-color: #ffffff00;
    font-size: 2.5rem;
    padding: 1vh 2vw;
    color: #DD0D1A;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

hr {
    margin: 0 auto;
    width: 90%;
    border: none;
    border-top: 2px solid #000;
}

.sectcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectcontainer > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.popular {
    background-color: #F13D19;
}

.menu {
    background-color: #FD7E1F;
   
}

.location {
    background-color: #F13D19;
}

.sectcontainer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section > div {
    width: 90%;
    margin: 4vh 5vw 8vh;
}

section > p {
    width: 90%;
    font-size: 1.5rem;
}

.image {
    width: 30%;
    height: 60vh;
    margin: 0;
    align-content: center;
    position: relative;
    /* box-shadow: 5px 5px 30px; */
    filter: drop-shadow(5px 5px 30px);
}

.image > img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    margin: 0;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

.popImg , .dealImg {
    margin-bottom: 10vh;
}

.localImg {
    margin-bottom: 4vh;
}

.location > p {
    margin-bottom: 5vh;
}

figcaption {
    position: absolute;
    display: flex;
    bottom: 0;
    transform:translateY(50%);
    width: 100%;
    padding: 3.5vh 0;
    align-content: center;
    justify-content: center;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 100% 100% 0% 0%;
     text-align: center;
     overflow: hidden;
}

.popular figcaption {
    background-color: #F13D19;
}

.menu figcaption{
    background-color: #FD7E1F;
}

.location figcaption {
    background-color: #F13D19;
    text-align: center;
}

#menu {
    font-size: 2.5rem;
}

main{
    background-color: #F13D19;
}

.fullmenu {
    background-color: #F13D19;
    margin: 0;
}

.menuImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menuImg >.image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    aspect-ratio: 1;
    width: clamp(180px, 30vw, 300px);
    margin:3vh auto;
}

.menuImg img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    border-radius: 10%;
}

.im {
    display: flex;
    position: relative;
    aspect-ratio: 1;
    height: auto;
    width: 100%;    
    margin: 0;
}

.im > figcaption{
    bottom: 0;
    transform: none;
    border-radius: 50% 50% 5% 5%;
    background-color: #FD7E1F;
}

.meat {
    text-align: center;
    width: 95%;
    color: #000;
    background-color: #6b3913;
    margin: 0 auto;
    padding: 1vh 0;
    border-radius: 5%;
}

.bun {
    height: 4vh;
    border-radius: 15% 15% 5% 5%;
    background-color: #FD7E1F;
    margin: 0;
}

.gif {
    background-color: #FD7E1F;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

#takeout, h2{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh auto;
}

.menu-ending {
    width: 90%;
    max-width: 1200px;
    display: block;
    margin: 3vh auto;
    border-radius: 10%;
    filter: drop-shadow(2px 2px 20px);
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-image: linear-gradient(to bottom, #FCC032, #DD0D1A);
    bottom: 0;
}

footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: fit-content;
}

ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: small;
    list-style-type: none;
}

@media (max-width: 767px) {
    body{
        width: 100%;
    }
    .logo{
        height: 100%;
    }
    .image{
        height: 40vh;
    }
    .image > img {
        height: 100%;
    }
    figcaption {
        bottom: 0;
        transform: translateY(50%);
    }
    .location figcaption {
        font-size: .9rem;
    }
}

@media (max-width: 450px) {
    body{
        width: 100%;
    }

    .image{
        height: 20vh;
    }
    .image > img {
        height: 100%;
    }
    figcaption {
        bottom: 0;
        transform: translateY(50%);
        margin: 0;
        height: .1vh;
    }
    .location figcaption{
        font-size: .7rem;
    }
    
}